:root {
    --white: #fff;
    --whitedark: #E8EDFA99;
    --dark: #003366;
    --lightdark: #34495e;
    --lightmore: #CCCCCC;
    --light: #006699;
    --warmth: #A87D77;
    --warmthmore: #e91e63;
    --danger: #d9534f;
    --warning: #f0ad4e;
    --info: #428bca;
}